.section-container, .header-container {
    max-width: 1152px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
}

.section {
    padding: 48px 0;
}

.section:nth-of-type(odd) {
    background-color: #f7f7f7;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #333;
}

/* Header */

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
}

.header-logo {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.header-logo a {
    color: #333;
    text-decoration: none;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-item:not(:last-child) {
    margin-right: 12px;
}

.nav-item a {
    position: relative;
    font-size: 8px;
    font-weight: bold;
    display: inline-block;
    padding: 8px 0;
    letter-spacing: 0.05em;
    color: #333;
}


/* FirstView */

.fv {
    height: 96vh;
    background-image: url("img/fv.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fv-container {
    color: darkgoldenrod;
    text-align: center;
}

.fv-title {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.fv-subtitle {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin-bottom: 8px;
}

.fv-text {
    font-size: 12px;
}

#works .section-body {
    display: flex;
    flex-wrap: wrap;
}

#works .card {
    width: 48%;
    padding: 8px;
}

#works .card-img {
    box-shadow: 0px 0px 8px -4px rgb(155, 130, 85);
    border-radius: 4px;
    width: 100%;
}

#works .card-img:hover {
    cursor: pointer;
    transform: scale(1.02);
}

#works .card-container {
    padding: 16px 8px;
}

#works .card-title {
    font-size: 14px
}

#works .card-body {
    font-size: 12px;
}

#skill .section-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#skill .card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
}

#skill .card-img {
    font-size: 3.2em;
}

#skill .card-container {
    padding-left: 16px;
    flex: 1;
}

#skill .card-title {
    font-size: 14px
}

#skill .card-body {
    font-size: 12px;
}

#about .card {
    text-align: center;
}

#about .card-img {
    border-radius: 50%;
    border: solid #797979;
    width: 32%;
    max-width: 192px;
}

/* Contact */

.form-item,
.form-message {
    padding: 24px 48px;
}

.form-message {
    text-align: center;
    color: olivedrab;
    line-height: 1;
}

.form-item label,
.form-item input,
.form-item textarea {
    display: block;
    width: 100%;
}

.form-item input,
.form-item textarea {
    font-size: 16px;
    padding: 4px 0;
    border-bottom: solid 1.6px #4c4c4c;
    border-radius: 0;
    outline: none;
}

.form-submit {
    text-align: center;
}

.form-submit input {
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border-radius: 0.4em;
}


/* 横並びフォーム */

.inline-form {
    display: block;
}

input:autofill {
    transition: background-color 5000s ease-in-out 0s !important;
}


/* フッター */

.page-top {
    font-weight: bold;
    padding: 8px;
    cursor: pointer;
    text-align: center;
    background-color: #4c4c4c;
}

.page-top .material-icons-outlined {
    vertical-align: bottom;
    color: #fff;
}

footer {
    background-color: #333;
    padding: 32px 0;
}

.copyright {
    font-size: 12px;
    text-align: center;
    color: #797979;
}

@media screen and (min-width: 768px) {
    .section-container, .header-container {
        padding-left: 40px;
        padding-right: 40px;
    }

    .section {
        padding: 80px 0;
    }

    .section-title {
        font-size: 32px;
        margin-bottom: 40px;
    }

    .header-container {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .header-logo {
        font-size: 24px;
    }

    .nav-item:not(:last-child) {
        margin-right: 24px;
    }

    .nav-item a {
        font-size: 16px;
    }

    .fv-title {
        font-size: 56px;
    }

    .fv-subtitle {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .fv-text {
        font-size: 16px;
    }

    #works .card {
        width: 32%;
        margin-bottom: 40px;
    }

    #works .card-title {
        font-size: 16px;
    }

    #works .card-body {
        font-size: 14px;
    }

    #skill .card {
        width: 48%;
    }

    #skill .card-img {
        font-size: 4em;
    }

    #skill .card-title {
        font-size: 16px;
    }

    #skill .card-body {
        font-size: 14px;
    }

    .inline-form {
        display: flex;
    }

    .form-item {
        flex: 1;
    }
}